<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HotlinkBlock" enabled="true">
                    <match url="^.*\.(jpg|png|gif|mp4)$" />
                    <conditions>
                        <add input="{HTTP_REFERER}" pattern="^$" negate="true" />
                        <add input="{HTTP_REFERER}" pattern="^https?://([^/]*\.)?(ffsusu.com|ffxiv.cn)/.*$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/nolink.png" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
